@{
    ViewData["Title"] = "ComprarCurso";
    var cursoComprar = ViewBag.CursoAComprar;
}

<div class="comprarcurso-detalle">
    <!-- Imagen del curso -->
    <img src="@cursoComprar.fotoCurso" alt="@cursoComprar.Nombre" class="comprarcurso-imagen">

    <!-- Nombre y descripción -->
    <h4>@cursoComprar.Nombre</h4>
    <p>@cursoComprar.Descripcion</p>

    <!-- Valoración -->
    <p class="comprarcurso-valoracion">Valoración: ★ @cursoComprar.Valoracion</p>

    <!-- Precio -->
    <p class="precio">@cursoComprar.Precio $US</p>
</div>
    <div class="metodos-pago">
        <h3>Método de pago:</h3>
        <label>
            <input type="radio" name="metodo-pago" value="tarjeta">
            Tarjeta débito/crédito
        </label>
        <label>
            <input type="radio" name="metodo-pago" value="paypal">
            PayPal
        </label>
        <div class="completar-pago">
            <p class="total-pago">Pago: <strong>@cursoComprar.Precio $US</strong></p>
            <button class="btn-completar" onclick="finalizarPago(@cursoComprar.idCurso)">
                <a href="@Url.Action("CursoComprado", "Home", new { idCurso = @cursoComprar.idCurso })">Completar pago</a>
            </button>
        </div>
    </div>
