@{
    ViewData["Title"] = "Cursos";
}

<div class="filters-container">
    <form method="get" action="/Home/Cursos" class="filters-form">
        <!-- Filtro de Valoraciones -->
        <div class="filter-section">
            <h3>Valoraciones</h3>
            <input type="radio" id="rating4" name="rating" value="4"><label for="rating4">4 o más</label><br>
            <input type="radio" id="rating3" name="rating" value="3"><label for="rating3">3 o más</label><br>
            <input type="radio" id="rating2" name="rating" value="2"><label for="rating2">2 o más</label><br>

        <!-- Filtro de Popularidad -->
        <div class="filter-section">
            <h3>Año de secundario</h3>
            <input type="radio" id="quinto" name="año" value="5"><label for="quinto">Quinto año</label><br>
            <input type="radio" id="cuarto" name="año" value="4"><label for="cuarto">Cuarto año</label><br>
            <input type="radio" id="tercero" name="año" value="3"><label for="tercero">Tercer año</label><br>

        </div>

        <!-- Filtro de Materias -->
        <div class="filter-section">
            <h3>Materias</h3>
            <input type="checkbox" id="Matematica" name="materia" value="Matematica"><label for="Matematica">Matemática</label><br>
            <input type="checkbox" id="Fisica" name="materia" value="Fisica"><label for="Fisica">Física</label><br>
            <input type="checkbox" id="Programacion" name="materia" value="Programacion"><label for="Programacion">Programación</label><br>
        </div>

        <!-- Botón de filtro -->
        <div class="filter-actions">
            <button type="submit">Aplicar filtros</button>
        </div>
    </form>
</div>

<main class="main-cursos">
    @foreach (var curso in ViewBag.Cursos)
    {
        <div class="curso-card">
            <!-- Imagen del curso -->
            <img src="@curso.fotoCurso" alt="@curso.Materia" class="curso-imagen">

            <!-- Detalle del curso -->
            <div class="curso-detalle">
                <!-- Materia y descripción -->
                <h4>@curso.Nombre</h4>
                <p>@curso.Descripcion</p>

                <!-- Valoración debajo de la imagen -->
                <p class="valoracion">Valoración: ★ @curso.Valoracion</p>

                <!-- Precio y botón -->
                <p class="precio">@curso.Precio $US</p>
                <ul class="btn-comprar">
                    <a href="@Url.Action("ComprarCurso", "Home")">Comprar Curso</a>
                </ul>
            </div>>
        </div>
    }
</main>
   