@{
    ViewData["Title"] = "Cursos";
}
<div class="row mt-5">

    <div class="filters-container col-md-3 col-12">
        <form method="post" action="/Home/Cursos" class="filters-form">
            <!-- Filtro de Valoraciones -->
            <div class="filter-section mb-3">
                <h3 class="text-center">Valoraciones</h3>
                <input type="radio" id="rating4" name="rating" value="4" @(ViewBag.SelectedRating == "4" ? "checked" : "")>
                <label for="rating4" class="ms-3" style="font-size: 26px;">4 o más <span class="text-warning">★★★★</span>★</label><br>

                <input type="radio" id="rating3" name="rating" value="3" @(ViewBag.SelectedRating == "3" ? "checked" : "")>
                <label for="rating3"  class="ms-3" style="font-size: 26px;">3 o más <span class="text-warning">★★★</span>★</label><br>

                <input type="radio" id="rating2" name="rating" value="2" @(ViewBag.SelectedRating == "2" ? "checked" : "")>
                <label for="rating2"  class="ms-3" style="font-size: 26px;">2 o más <span class="text-warning">★★</span>★</label><br>
            </div> 


            <!-- Filtro de Popularidad -->
            <div class="filter-section mb-3">
                <h3 class="text-center">Año de secundario</h3>
                <input type="radio" id="quinto" name="año" value="5" @(ViewBag.SelectedAño == 5 ? "checked" : "")>
                <label for="quinto" class="ms-3" style="font-size: 26px;">Quinto año</label><br>

                <input type="radio" id="cuarto" name="año" value="4" @(ViewBag.SelectedAño == 4 ? "checked" : "")>
                <label for="cuarto" class="ms-3" style="font-size: 26px;">Cuarto año</label><br>

                <input type="radio" id="tercero" name="año" value="3" @(ViewBag.SelectedAño == 3 ? "checked" : "")>
                <label for="tercero" class="ms-3" style="font-size: 26px;">Tercer año</label><br>


            </div>

            <!-- Filtro de Materias -->
            <div class="filter-section mb-3">
                <h3 class="text-center">Materias</h3>
                <input type="checkbox" id="Matematica" name="subject" value="Matematica"
                    @(ViewBag.SelectedSubjects != null && ((string[])ViewBag.SelectedSubjects).Contains("Matematica") ? "checked" : "")>
                <label for="Matematica" style="font-size: 22px;">Matemática</label><br>

                <input type="checkbox" id="Fisica" name="subject" value="Fisica"
                    @(ViewBag.SelectedSubjects != null && ((string[])ViewBag.SelectedSubjects).Contains("Fisica") ? "checked" : "")>
                <label for="Fisica" style="font-size: 22px;">Física</label><br>

                <input type="checkbox" id="Programacion" name="subject" value="Programacion"
                    @(ViewBag.SelectedSubjects != null && ((string[])ViewBag.SelectedSubjects).Contains("Programacion") ? "checked" : "")>
                <label for="Programacion" style="font-size: 22px;">Programación</label><br>

            </div>
            <!-- Botón de filtro -->
            <div class="filter-actions mt-3">
                <a href="/Home/Cursos" class="btn btn-danger">Limpiar Filtros</a>
                <button type="submit" class="btn btn-primary">Aplicar filtros</button>
            </div>
        </form>
    </div>

    <div class="main-cursos col-md-9 col-12">
        @foreach (var curso in ViewBag.Cursos)
        {
            <div class="curso-card">
                <!-- Imagen del curso -->
                <img src="@curso.fotoCurso" alt="@curso.Materia" class="curso-imagen">

                <!-- Detalle del curso -->
                <div class="curso-detalle">
                    <!-- Materia y descripción -->
                    <h4>@curso.Nombre</h4>
                    <p>@curso.Descripcion</p>

                    <!-- Valoración debajo de la imagen -->
                    <p class="valoracion">Valoración: ★ @curso.Valoracion</p>

                    <!-- Precio y botón -->
                    <p class="precio">@curso.Precio $US</p>
                    <ul class="btn-comprar" style="width: fit-content;">
                        <a href="@Url.Action("ComprarCurso", "Home", new { idCurso = @curso.idCurso })">Comprar Curso</a>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

   